<div class="jumbotron center">

    <h1 class="animate fadeInDown" style="text-align: center; font-size: 40px;">Welcome to Blog App</h1>
     <% if user_signed_in? %>
                  <%= link_to 'Add Post', new_post_path, class: 'btn btn-primary' %>
                  <%= link_to 'List Post', post_path, class: 'btn btn-default' %><br/><br/> <%# Add '=' to make link visible %>
                     <h2>Welcome <strong><%= current_user.name %></strong></h2>
                  <% link_to 'Edit Profile', edit_user_registration_path,class: 'btn btn-primary' %>
                  <% link_to 'Log out', destroy_user_session_path, class: 'btn btn-default' %>

     <% else %>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-default' %>

        <%= link_to 'Join', new_user_registration_path, class: 'btn btn-primary' %>
    <% end %>

</div>
