<%= form_for @post,  url: { action: "update" }, html: { multipart: true }  do |f| %>
 	<div>
		<%= f.label "Title" %>
		<%= f.text_field :title %>
 	</div>
	<div>
		<%= f.label "Description" %>
		<%= f.text_area :text %>
	</div>
	<div>
		<%= f.label "Image" %>
		<%= f.file_field :image %>
	</div>
	<%= f.submit "Update" %>  
<% end %>