<% if @post %>
	<div class="container-fluid" style="padding-bottom: 10px">
		<div class="display-3" style="padding-bottom: 2%">
			<%= @post.title %>
		</div>
		<div style="padding: 20px">
	        <%= image_tag("#{@post.image(:large)}", class: "rounded") %><br/>
		</div>
       	<div>
       		<blockquote class="blockquote text-center"  style="margin: 20px">
			  <p class="mb-0 "><%=@post.text %></p>
			  <footer class="blockquote-footer">By: <cite title="Source Title"><%= @post.user.email if @post.user %></cite></footer>
			</blockquote>
				<hr>
	       	<span style="float: right;">
				<% if user_signed_in? && current_user.id == @post.user_id %>
					<%= link_to "Edit", edit_post_path %>
					<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
	    		<% end %>
				<%= link_to "Back", root_path %>
	        </span>
        </div>
	</div>
        <!-- <hr> -->
<% end %>